h1 {
  text-align: center;
  color: red;
}
h2 {
  text-align: center;
  border: 1px solid red;
  padding: 12px;
  font-size: 15px;
  border-radius: 3px;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  border-radius: 10px;
}

p {
  line-height: 1.5;
  font-size: 16px;
  margin: 20px 0 10px;
}

.learn-more {
  margin-top: 10px;
  text-decoration: none;
  font-size: 15px;
  color: red;
}
.learn-more:hover {
  text-decoration: underline;
}
.character-button {
  display: block;
  margin: 0 auto;
  background-color: black;
  color: red;
  font-size: 15px;
  padding: 16px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
}
.content {
  max-width: 550px;
  margin: 0 auto;
  padding: 30 px, 50px;
}
.character-button:hover {
  cursor: pointer;
}

.learn-more {
  text-decoration: underline;
}

.footer {
  text-align: center;
  font-size: 5px;
}
